# Created by .ignore support plugin (hsz.mobi)

# IntelliJ project files
.idea
*.iml
out
gen

# Composer
vendor

# Others
/examples
test.php
phpunit.phar

# Ignore config file with credentials
/.env*
!.env.example
/src/KeywordsResearch.php
common
